@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    background-color: rgb(4, 63, 77);
    border: 1px solid red;
}
#principal{
    width: 1120px;
    margin: 0 auto;
    display: flex;
    gap: 28px;
    & #foto{
        display: flex;
        width: 150px;
        height: 150px;
        /* background-color: RED;
        border-radius: 50%; */
    }
    & main{
        flex: 1;
        & #topo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 44px;
            color: rgb(229, 229, 229);
            & div{
                & h1{
                    font-size: 36px;
                }
                & h6{
                    font-size: 20px;
                }
                & nav{
                    margin-top: 16px;
                    & a{
                        display: block;
                        color: rgb(255, 255, 255);
                        padding-bottom: 6px;
                        position: relative;
                        transition-duration: 200ms;
                        &:hover{
                            color: rgb(255, 255, 255);
                            &::after{
                                width: 16px;
                                left:calc(50% - 8px);
                                opacity: 1;
                            }
                        }
                        &::after{
                        content: "";
                        width: 0;
                        height: 4px;
                        border-radius: 2px;
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        opacity: 0;
                        transition-duration: 200ms;
                        }
                    }
                }
            }

            & ul{
                display: flex;
                gap: 16px;
            }
        }
        & #sobre{
            & h2{
                font-size: 48px;
                margin-bottom: 26px;
                color:rgb(255, 255, 255);
            }
            & p{
                width: 700px;
                font-size: 18px;
                margin-bottom: 16px;
                color:rgb(255, 255, 255);
            }
        }
        & #linguagens{
            margin-top: 100px;
            & ul{
                display: flex;
                gap: 16px;
            }
            & li{
                display:flex;
                flex: 1;
                height: 100px;
                /* background-color: rgb(26, 8, 8); */
            }
        }
    
    }
}